body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.day-temp {
  color: white;
}

.night-temp {
  color: wheat;
}

.weather-console {
  background-color: #DEDFE4;
  border-radius: 4px;
  display: inline-block;
}

.label {
  padding: 2px;
  border-radius: 4px;
  margin: 0 auto;
}

.day-temp {
  background-color: #337CA0; /*#94B4C4;*/
  color: #EEE5E5;
}

.night-temp {
  background-color: #173146;
  color: #DDCECD;
}

.card-title {
  /*background-color: #173146;*/
  color: #173146;
  font-size: 1.2em;
}

.card-list-tab {
  display: flex;
}

.temp-pair {
  display: flex;
  margin: 0 auto;
  padding: 2px 0;
  width: 80%;
}

.card {
  text-align: center;
  flex-direction: column;
  padding: 8px;
  background-image: linear-gradient(-60deg, #DEDFE4, #fff);
}

.card-icon {
  min-width: 99px;
  font-size: 64px;
  padding: 12px 0;
  color: #337CA0;
}